/** general **/
.mono { font-family: monospace; }
table { table-layout:fixed; }
.vh-75 { height: 75vh; }
.bigger { font-size: 3rem; }
.big { font-size: 2rem; }

.fade-in {
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.delay {
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  -webkit-animation: fadein 6s; /* Safari and Chrome */
  -o-animation: fadein 6s; /* Opera */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/** zigzag conversion **/

.zigzag-td {
  background-color: #eee;
  border: 3px solid white;
}
.char {
  font-weight: bold;
  background-color: #99bbff;
}

.row0 { background-color: mediumpurple; }
.row1 { background-color: lightblue; }
.row2 { background-color: lightgoldenrodyellow; }
.row3 { background-color: lightpink; }
.row4 { background-color: lightsalmon; }
.row5 { background-color: lightgreen; }
.row6 { background-color: cyan; }


/** count islands **/

.water { background-color: lightcyan; }
.land { background-color: burlywood; }
.visited { background-color: saddlebrown; }
.current { background-color: lightgoldenrodyellow; }
.search { background-color: lightgreen; }
