{{page-title "Pretty Algorithms"}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <LinkTo class="navbar-brand" @route="index">Algorithms</LinkTo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <LinkTo class="nav-link" @route="zigzag">Zig Zag Conversion</LinkTo>
        <LinkTo class="nav-link" @route="count-island">Count Islands</LinkTo>
      </div>
    </div>
  </div>
</nav>

{{outlet}}