{{page-title "Index"}}
<main class="d-flex vw-100 vh-75 align-items-center justify-content-center">
  <h1 class="fade-in bigger fw-bold">Making LeetCode fun since 2023</h1>
</main>
<h2 class="fade-in delay big">A site by Phillip</h2>
{{outlet}}